In [1]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.offline as po
import plotly.graph_objs as pg

%matplotlib inline

In [2]:
po.init_notebook_mode(connected =True)

In [3]:
agri = pd.read_csv('gdp.csv')

In [4]:
agri.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [5]:
data = dict(type='choropleth',
       locations=agri['CODE'] ,
       
       z = agri['GDP (BILLIONS)'] ,
       text=agri['COUNTRY']
           )

In [6]:
layout = dict(title='GDP plot' , geo=dict( projection ={ 'type' :'stereographic'}))

In [7]:
x = pg.Figure(data=[data], layout=layout)

In [8]:
po.plot(x)

'temp-plot.html'

In [9]:
agri

            COUNTRY  GDP (BILLIONS) CODE
0       Afghanistan           21.71  AFG
1           Albania           13.40  ALB
2           Algeria          227.80  DZA
3    American Samoa            0.75  ASM
4           Andorra            4.80  AND
..              ...             ...  ...
217  Virgin Islands            5.08  VGB
218       West Bank            6.64  WBG
219           Yemen           45.45  YEM
220          Zambia           25.61  ZMB
221        Zimbabwe           13.74  ZWE

[222 rows x 3 columns]